@keyframes fadeAndMoveUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

body{
    font-size: 16px;
    background-image: url('./bgimg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#registration
{
    backdrop-filter: blur(20px);
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.2);
    border-radius: 2rem;
    background-color: rgba(32,31,37,.4);
    height:60vh;
    width:60vw;
    display: flex;
    flex-flow:column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}

#registration h2
{
    color:white;
}

.form-group
{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-flow: column wrap;
}

.form-group label
{
    color: white;
    font-weight:400;
}

#gender-form-group
{
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    justify-content: center;
    z-index:10;
}

.form-group input
{
    width:30vw;
}

.form-group select
{
    width:30vw;
}

#chatButton
{
    margin: 5vh auto;
}

#chat{
    display: none;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center; 
    color:white;
}

#messages
{
    padding: 15px 15px;
    backdrop-filter: blur(20px);
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.2);
    border-radius: 2rem;
    background-color: rgba(32, 31, 37, .4);
    height: 80vh;
    width: 60vw;
    display: block;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    transform: translateY();
}

.input-group
{
    display: flex;
    flex-flow: row wrap;
}

#messages p
{
    font-weight: 400;
}

#messages .my-1
{
    border: transparent;
    background-color: rgb(112, 232, 85);
    background-clip: text;
    color: transparent;
    width:100%
}

#messages .other-1
{
    color: transparent;
    background-color: rgb(232, 85, 215);
    background-clip: text;
    
}

.matchmsg
{
    color: transparent;
    background: green;
    background-clip: text;
    
}