@keyframes fadeAndMoveUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
 
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
 
*,
*::before,
*::after {
    box-sizing: border-box;
}
 
body {
    font-size: 16px;
    background-image: url('./bgimg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
 
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#featureSection
{
    position: absolute;
    left: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

#featureHead
{
    background: linear-gradient(90deg, #7c00c7, #8348e9, #ac8af0);
    background-clip: text;
    font-size: 1.8rem;
    color: transparent;
    font-weight: 900;
    font-family: "Trocchi", serif;
}

.feature-items
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 15px 4px #b49ec1;
    z-index: 100;
    border-radius: 10px;
    margin: 20px 0px;
    width: 20vw;
    padding: 10px;
    font-size: 1.2rem;
    background: #7900ffa6;
    color: #b770f7;
    /* background-clip: text; */
    font-weight: 600;
    font-family: 'Trocchi';
}

.registration {
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px 5px rgb(117 1 255 / 56%);
    border-radius: 2rem;
    background-color: rgba(32, 31, 37, .4);
    max-width: 470px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 5vh 5vw;
    width: 80vw;
    margin: 20px;
    /* margin-top: 20vh; */
}
 
#sign-up {
    /* height:80vh; */
    color: white;
}
 
.registration h2 {
    font-family: "Trocchi", serif;
    align-self: center;
    color: #9d00ff;
    font-weight: 900;
    margin-bottom: 10px;
}
 
.registration h2 {
    font-family: "Trocchi", serif;
    align-self: center;
    color: #9d00ff;
    font-weight: 900;
    margin-bottom: 10px;
}


.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 100%;
}
 
/* .signup-group label {
    font-size: 17px;
    justify-self: right;
    align-self: center;
    text-align: right;
} */
 

 
.signup-group input[type="date"] {
    /* width: 100%; */
    /* appearance: none; */
    -webkit-appearance: none;
    -moz-appearance: none;
    border: transparent;
    border-radius: 16px;
    padding: 5px 10px;
    outline-color: #7c00c7;
    width: 100%;
    /* border-radius:10px; */
}
 
/* .signup-group select {
    padding: 5px;
} */
 
/* .signup-group label {
    color: white;
    font-weight: 700;
    margin-right: 10px;
} */
 
 
#sign-in-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}
 
/* #sign-up-header h2
{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-flow: row wrap;
    width: calc(100%-30px);
    z-index: 0;
    position: absolute;
    top: 3%;
} */
 
#home-btn {
    /* position: absolute;
    left: 5%;
    top:3%; */
    color:white;
}

.home-btn-group
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    background: #7c00c7;
    /* color:white; */
    border-radius: 100%;
    width: 40px;
    height: 40px;
    z-index: 5;
    padding: 7px;
    font-size: 23px;
}
 
.home-btn-label
{
    color:white;
    font-size: 8px;
    font-weight:700;
}

.home-btn-group:hover {
    background-color: white;
    color: #7c00c7;
    cursor: pointer;
}
 
.form-group input {
    border: 2px solid #7c00c7;
    border-radius: 15px;
    width: 90%;
    background-color: #e5bbff;
    color: #7c00c7;
    font-weight: 600;
}
 
.form-group input:focus {
    color: #7c00c7;
    background-color: #e5bbff;
    border-color: #e5bbff;
    outline: 0;
    box-shadow: 0 0 4px 4px #7c00c7;
}

.signup-group input {
    border: 2px solid #7c00c7;
    border-radius: 15px;
    width: 90%;
    background-color: #e5bbff;
    color: #7c00c7;
    font-weight: 600;
}
 
.signup-group input:focus {
    color: #7c00c7;
    background-color: #e5bbff;
    border-color: #e5bbff;
    outline: 0;
    box-shadow: 0 0 4px 4px #7c00c7;
}
 
#home-btns {
    display: grid;
    grid-template: auto/ 50% 50%;
    /* gap: 20px; */
    width: 90%;
}
 
#chatButton {
    /* margin: 10px auto; */
    border-radius: 10px;
    margin: 10px auto;
    font-weight: 500;
    background-color: #7c00c7;
    border-color: transparent;
    outline: none;
    width: 80%;
}
 
#chatButton:hover {
    background-color: white;
    color: #7c00c7;
    font-weight: 700;
}
 
#chat {
    display: none;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    color: white;
}
 
#signreg-stmt {
    display: block;
    color: white;
    text-align: center;
    /* cursor: pointer; */
}
 
.sign-in-btn {
    cursor: pointer;
    color: #7c00c7;
    font-weight: 700;
}
 
.reg-btn {
    cursor: pointer;
    color: #7c00c7;
    font-weight: 700;
}
 
#messages {
    margin-right: 1.5px;
    /* height: calc(calc(75vh - 5rem) - calc(30px + 2rem) - 40px); */
    padding: 15px 15px;
    /* display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center; */
    overflow-y: auto;
    /* transform: translateY(); */
    word-wrap: break-word;
    overflow-wrap: anywhere;
    overflow: overlay;
    /* min-height: calc(75vh - 50px); */
}
 
#msg-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 100%;
}
 
#centre-box {
    height: 100vh;
    display: grid;
    grid-template: 5rem calc(100vh - 5rem) / 100%;
    justify-content: center;
    align-items: center;
}
 
#msg-container {
    /* height: calc(100% - 40px); */
    border: 3px solid #b142f9;
    backdrop-filter: blur(20px);
    box-shadow: rgba(213, 173, 255, 0.75) 0px 0px 17px 8px;
    border-radius: 2rem 2rem 0rem 0rem;
    background-color: rgba(32, 31, 37, .4);
    background-image: url("./wall1.webp");
    background-size: contain;
    height: calc(100% - 45px);
    width: 60vw;
    max-width: 470px;
    display: block;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    /* overflow: overlay; */
}
 
 
.input-grp {
    display: flex;
    flex-flow: row wrap;
    width: 60vw;
    max-width: 470px;
    z-index: 10;
}
 
#messages p {
    font-weight: 700;
    overflow-wrap: anywhere;
    margin-bottom: 1rem;
}
 
#messages .my1 {
    border: transparent;
    background-color: rgb(149 251 126 / 90%);
    /* background-clip: text; */
    color: #007a08;
    /* width: 100%; */
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 0px 25px 25px 25px;
    display: table;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}
 
#messages .other1 {
    border: transparent;
    /* color: transparent; */
    background-color: rgb(226 147 218 / 90%);
    color: #57015c;
    /* width: 100%; */
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 25px 0px 25px 25px;
    display: table;
    word-wrap: break-word;
    overflow-wrap: anywhere;
 
}
 
.matchmsg {
    margin: 15px 15px 5px 15px;
    backdrop-filter: blur(3px);
    /* box-shadow: 0 20px 20px 0 rgb(135 0 255 / 71%); */
    border-radius: 10px;
    background:#cd37fe63;
    color: #2b0058;
    border: 2px solid purple;
    padding: 5px 10px;
    font-weight: 700;
}
 
#msg-holdermy {
    display: flex;
    align-items: center;
    justify-content: start;
}

.bubble .my1 {
    border: transparent;
    background-color: rgb(149 251 126 / 74%);
    /* background-clip: text; */
    color: #025808;
    /* width: 100%; */
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 0px 25px 25px 25px;
    display: table;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}
 
.bubble .other1
{
    border: transparent;
    /* color: transparent; */
    background-color: rgb(226 147 218 / 90%);
    color: #57015c;
    /* width: 100%; */
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 25px 0px 25px 25px;
    display: table;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}
 
#msg-holderother {
    display: flex;
    align-items: center;
    justify-content: end;
}
 
 
/* Registration CSS */
 
.signup-form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin-bottom:10px; */
}
 
.signup-group {
    display: grid;
    width: 100%;
    grid-template-rows: 100%;
    grid: auto / max(20%, 90px) auto;
    gap: 10px ;
    margin-bottom: 20px;
}
 
 
/*Sign IN*/
#sign-up-header {
    display: grid;
    grid-template-columns: 40px;
    grid: auto / max(40px, 30%) auto;
    width: 100%;
    padding: 20px;
}
 
 
/* CHAT ROUTE CSS */
.chat-head {
    /* margin: 1rem 0 1rem 0; */
    font-family: "Trocchi", serif;
    /* align-self:center; */
    color: #c25dff;
    font-size: 2.5rem;
    font-weight: 900;
    justify-self: center;
}
 
#nav-container {
    height: 100%;
    background-color: rgb(222 193 255 / 85%);
    position: fixed;
    color: #ba00ff;
    font-weight: 700;
    top: 0;
    left: -200px;
    transition: left 1s ease;
    padding: 10px;
    justify-content: space-evenly;
    z-index: 100;
}
 
 
#nav-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
.nav-items {
    /* padding: 10px;
    border-bottom: 1px solid #444;
    display: grid;
   
    grid-template-columns: 35% 65%;
    gap:5px;
    justify-self: end;
    align-self: center; */
    display: flex;
    font-size: 20px;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 42px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
}
 
 
#top {
    /* width: 100%; */
    margin-bottom: 25vh;
    margin-top: 0vh;
}
 
#bottom {
    /* width: 100%; */
    position: absolute;
    bottom: 0px;
}
 
.nav-items:hover {
 
    /* border-radius:100%; */
    background-color: #ba00ff;
    color: white;
}
 
#nav-btn {
    border-top: 3px solid rgb(177, 66, 249);
    border-right: 3px solid rgb(177, 66, 249);
    border-bottom: 3px solid rgb(177, 66, 249);
    border-image: initial;
    border-left: transparent;
    box-shadow: rgba(213, 173, 255, 0.75) 0px 0px 17px 8px;
    display: flex;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    /* position: fixed; */
    color: #a219fa;
    backdrop-filter: blur(20px);
    border-radius: 0px 100px 100px 0px;
    background-color: #d5adff;
    /* left: 0px; */
    font-size: 2.5em;
    font-weight: bold;
    height: 100px;
    width: 50px;
    cursor: pointer;
    padding-right: 10px;
}
 
#nav-btn-container
    {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0px;
        /* position: fixed; */
    }
 
#menuBtnDiv {
    display: none;
    font-size: 12px;
    color: white;
    font-weight: 600;
}
 
.nav-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
 
#messageInput {
    height: 40px;
    width: calc(min(60vw, 470px) - 40px);
    background-color: #d5adff;
    border-radius: 0px 0px 0px 20px;
    border: 3px solid #b142f9;
    color: #4b006a;
    padding-top: 0rem;
    font-weight: 600;
    outline: 0;
    box-shadow: none;
}
 
#messageInput::placeholder {
    color: #4b006a;
    font-weight: 600;
}
 
#sendButton {
    padding-left: 6px;
    border: transparent;
    background-color: #ad2cf8;
    color: #d5adff;
    font-weight: 700;
    border-radius: 0% 0% 20px 0%;
    /* border-radius: 100%; */
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    /* flex-flow: column wrap; */
    box-shadow: 1px 1px 1.5px hsl(var(--shadow-color) / 0.49), 2.9px 2.9px 4.4px -0.7px hsl(var(--shadow-color) / 0.47), 6px 6px 9.2px -1.4px hsl(var(--shadow-color) / 0.45), 12.6px 12.6px 19.2px -2.1px hsl(var(--shadow-color) / 0.43), 25px 25px 38.2px -2.8px hsl(var(--shadow-color) / 0.41);
}
 
 
#sendButton:hover {
    background-color: #a754ff;
    color: #513370;
}
 
#skipButton {
    /* position: fixed; */
    /* bottom: 0px; */
    /* left: 40%; */
    border-radius: 50px 50px 0px 0px;
    width: 30%;
    height: 40px;
    background-color: #ad2cf8;
    color: white;
    font-weight: 700;
    border: 2px solid #b142f9;
    /* box-shadow: none; */
    min-width: 70px;
    box-shadow: 2px 0px 13px 3px #4f009c;
    min-width: 70px;
}
 
#skipButton:hover {
    background-color: #d5adff;
    color: #6e2c90;
}
 
 
/* SELECT BUTTON */
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
 
.dropdown .dropdown-menu {
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9;
    padding: 0;
    list-style: none
}
 
.dropdown {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all .2s ease-in-out;
    width: 90%;
 
    border-radius: 15px;
    width: 100%;
    background-color: #e5bbff;
    color: #7c00c7;
    font-weight: 600;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    /* font-weight: 400; */
}
 
.dropdown-menu li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #e5bbff;
    color: #7c00c7;
    /* border: 1px solid #7c00c7; */
    transition: all .2s ease-in-out;
    cursor: pointer;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
 
.dropdown-menu li:hover {
    background-color: #7c00c7;
    color: white;
    /* border: 1px solid #7c00c7; */
 
}
 
#gender-form-group:focus {
    cursor: pointer;
    color: #7c00c7;
    background-color: #e5bbff;
    border-color: #e5bbff;
    outline: 0;
    box-shadow: 0 0 4px 4px #7c00c7;
}
 
.dropdown ul {
    line-height: 1.5;
    display: none;
    /* position: absolute; */
    /* top: calc(8px + 1rem); */
    border-radius: 0px 0px 10px 15px;
    padding: 7px;
    background: #e5bbff;
    width: 100%;
    border: 1px solid #a246d9;
}
 
.select span {
    width: 100%;
 
    /* margin-bottom: .5rem; */
}
 
.select-container {
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
 
 
.select:focus {
    color: #7c00c7;
    background-color: #e5bbff;
    border-color: #e5bbff;
    outline: 0;
    box-shadow: 0 0 4px 4px #7c00c7;
}
 
.form-group label {
    color: #9d00ff;
    font-weight: 700;
    font-size: 20px;
}

.signup-group label {
    color: #9d00ff;
    font-weight: 700;
    font-size: 20px;
}

.select-container label {
    color: #9d00ff;
    font-weight: 700;
    font-size: 20px;
}
 
.dropdown .changed:focus {
    /* Add your styles for the focused state when content has changed */
    /* Example: Change border color when content has changed */
    background: red;
}
 
#skip-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* overflow scroll */
/* For Webkit-based browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
    width: 7px;
    /* width of the scrollbar */
}
 
/* Track */
/* ::-webkit-scrollbar-track {
    background: #8c00ff5b;
} */
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ad2cf8d4;
    border-radius: 10px;
}
 
/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */
 
@media screen and (max-width: 600px) {
    #msg-container {
        width: 100vw;
    }
 
    .input-grp {
        width: 100vw;
    }
 
    #messageInput {
        width: calc(100% - 40px);
        border-radius: 0px;
    }
 
    #sendButton {
        border-radius: 0px;
    }
 
    #nav-btn-container{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 12px;
        top: 8px;
    }
 
 
    #nav-btn
    {
        color: white;
        backdrop-filter: blur(20px);
        border-radius: 15px;
        background-color: #7c00c7;
        font-size: 1.5em;
        font-weight: bold;
        height: 50px;
        width: 50px;
        padding: 0px;
        cursor: pointer;
    }
   
 
   
    #menuBtnDiv {
        display: inline-block;
    }
 
    #chat-head {
        font-size: 2.5rem;
    }
}

/* Bubble css */
/* .bubble {
    position: absolute;
    bottom:0px;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
    animation: bubble-rise linear infinite;
    z-index:25;
  }
  
  @keyframes bubble-rise {
    0% {
      transform: translateY(0vh);
    }
    100% {
      transform: translateY(-100vh);
    }
  } */

  /* Bubble css */
.bubble {
    position: absolute;
    bottom: 0px;
    animation: bubble-rise cubic-bezier(0.4, 0.3, 0.5, 0.5) infinite;
    z-index: 25;
    perspective: 1000px; /* Perspective for 3D effect */
}
 
.emojiBubble {
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.8), rgb(190 78 255 / 86%) 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    font-size: 2.5rem;
    transform-style: preserve-3d; /* Enable 3D transformations */
}
 
@keyframes bubble-rise {
    0% {
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg); /* Initial position */
    }
    10% {
        transform: translate3d(-15px, -10vh, 0) rotate3d(0, 0, 1, 13deg); /* Adjust wobble */
    }
    20% {
        transform: translate3d(0px, -20vh, 0) rotate3d(0, 0, 1, -13deg); /* Adjust wobble */
    }
    30% {
        transform: translate3d(-10px, -30vh, 0) rotate3d(0, 0, 1, 10deg); /* Adjust wobble */
    }
    40% {
        transform: translate3d(5px, -40vh, 0) rotate3d(0, 0, 1, -10deg); /* Adjust wobble */
    }
    50% {
        transform: translate3d(-10px, -50vh, 0) rotate3d(0, 0, 1, 5deg); /* Adjust wobble */
    }
    60% {
        transform: translate3d(0px, -60vh, 0) rotate3d(0, 0, 1, -5deg); /* Adjust wobble */
    }
    70% {
        transform: translate3d(10px, -70vh, 0) rotate3d(0, 0, 1, 2.5deg); /* Adjust wobble */
    }
    80% {
        transform: translate3d(-5px, -80vh, 0) rotate3d(0, 0, 1, -2.5deg); /* Adjust wobble */
    }
    90% {
        transform: translate3d(15px, -90vh, 0) rotate3d(0, 0, 1, 0deg); /* Adjust wobble */
    }
    100% {
        transform: translate3d(0, -100vh, 0) rotate3d(0, 0, 1, 0deg); /* Final position */
    }
}